@font-face {
  font-family: 'LaShadesScript';
  src: url('../assets/fonts/LaShadesScript-Regular.woff2') format('woff2'),
       url('../assets/fonts/LaShadesScript-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LaShadesScript';
  src: url('../assets/fonts/LaShadesScript-Medium.woff2') format('woff2'),
       url('../assets/fonts/LaShadesScript-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LaShadesScript';
  src: url('../assets/fonts/LaShadesScript-Bold.woff2') format('woff2'),
       url('../assets/fonts/LaShadesScript-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 